body.index-page {
    background-image: url('open postcard.png');
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: 45%;
    height: 90vh; 
    display: flex;
}

body.artworks-page, body.projects-page {
    background: none;
}

h1 { 
    text-align: center;
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    display: flex;
    font-family: "Borel", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 600px;
    height: 200px;
    margin: 0 auto; 
    border: 1px solid transparent;
}

nav {
    padding: 1rem;
    margin: 0px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    z-index: 1;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; 
    gap: 1.5rem;
}

.home-icon {
    width: 50px; 
    height: auto;
    object-fit: contain; 
    margin-right: 10px;
}

.navbar li a {
    color: black;
    text-decoration: none; 
    font-family: "Borel", cursive;
    font-weight: 500;
    font-size: 1.2rem;
}

.navbar li a:hover {
    text-decoration: underline;
}

form {
    max-width: 600px; 
    margin: 50px auto;
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

form label {
    display: block; 
    font-family: "Borel", cursive;
    font-weight: 500;
    font-size: 1rem;
    color: #333;
}

form input {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

form input[type="text"],
form textarea,
form select {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
    height: 80px; 
}

form select {
    background-color: #fff; 
    cursor: pointer; 
}

form button, button {
    display: block; 
    width: 100%; 
    margin-top: 10px;
    padding: 5px;
    background-color: #BDC1CF; 
    color: white;
    border: transparent;
    border-radius: 5px;
    font-family: "Borel", cursive;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

form button:hover {
    background-color: #d2d7e7;
    color: white;
}

.artworks-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; 
    padding: 20px; 
    justify-content: center;
}

.artwork {
    text-align: center; 
    font-family: "Borel", cursive;
    font-weight: 300;
}

.artwork img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projects-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 20px;
    font-family: "Borel", cursive;
    font-size: 1rem;
    line-height: 1.5;
}

.project h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.project a {
    color: #007BFF;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

.project, .artwork, .projects-container {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.items-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: "Borel", cursive;
    font-size: 1rem;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
}

.items-table th {
    background-color: #f4f4f4;
    color: #333;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

.items-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
    overflow-wrap: wrap;
    white-space: normal;
}

.items-table tr:hover {
    background-color: #f9f9f9;
}

.items-table a {
    color: #007BFF;
    text-decoration: none;
}

.items-table a:hover {
    text-decoration: underline;
}

td {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}